body{
  min-width: 1500px;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  margin-top: 15px;
}

.header {
  font-size: 2rem;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map {
  width: 1500px;
  height: 700px;
  object-fit: cover;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}

.characters img {
  height: 50px;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.character-waldo {
  position: relative;
}