.circle {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid red;
    pointer-events: none;
}

.image-container {
    width: 1500px;
}

.character-waldo {
    position: absolute;
    width: 25px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid red;
    pointer-events: none;
}
  