.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(10px + 5vh);
  margin-top: 15px;
}

.header {
  font-size: 2rem;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  width: 1500px;
  height: auto;
}